.about {
	background: #fff;

	&__image {
		display: block;
		margin: 0 auto 2rem;
		max-width: 300px;
		object-fit: contain;
		width: 100%;
	}

	&__content {
		max-width: 800px;
		margin: 0 auto;

		p {
			font-size: 1.25rem;
			letter-spacing: 0.1rem;
			text-align: center;
			text-transform: uppercase;
		}
	}

	&__cards {
		.cards-grid {
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			margin: 0 auto;
			max-width: 800px;

			.about-card {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&__icon {
					border: 1px solid $primary-color;
					height: 50px;
					margin: auto;
					width: 50px;
				}

				&__name {
					text-align: center;
					font-weight: $regular;
					letter-spacing: 0.1rem;
					text-transform: uppercase;
				}
			}
		}
	}
}
