.beams {
	display: flex;
	flex-wrap: wrap;
	min-height: 300px;
	position: relative;

	&__hero {
		width: 100%;
		height: 150px;

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__image,
	&__text {
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__image {
		background-color: $grey;
		width: calc(50% + 3rem);

		@include tablet {
			height: 250px;
			width: 100%;
		}
	}

	&__text {
		padding: 3rem 3rem 5rem;
		width: calc(50% - 3rem);

		@include tablet {
			width: 100%;
			padding: 2rem;
		}

		.inner-text {
			margin: auto;

			h3 {
				margin: 0 0 1rem;
				font-weight: $regular;
				font-size: 1.5rem;
				letter-spacing: 0.1rem;
				line-height: 1;
				text-transform: uppercase;
			}

			.start {
				margin: 0 auto 1rem;
				max-width: 400px;
				padding: 0 0 0 1rem;
				position: relative;

				&:before {
					background: $primary-color;
					content: '';
					height: 2rem;
					width: 6px;
					position: absolute;
					top: 0;
					left: 0;
				}

				@include tablet {
					max-width: 100%;
				}
			}

			ul {
				margin: 0 auto;
				max-width: 400px;
				padding: 0;
				list-style: none;
				width: 100%;

				@include tablet {
					max-width: 100%;
				}

				li {
					&:before {
						content: '\2022';
						color: $primary-color;
						font-weight: bold;
						display: inline-block;
						width: 1rem;
						line-height: 1rem;
						vertical-align: bottom;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
