.beams {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	&__title,
	&__text {
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		width: 50%;

		@include tablet {
			width: 100%;
		}
	}

	&__title {
		background-color: $grey;
		background-blend-mode: multiply;
		font-size: 2.25rem;
		font-weight: $light;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		width: calc(50% + 3rem);

		@include tablet {
			font-size: 2rem;
		}

		span {
			margin: auto;
			max-width: 400px;
			width: 100%;

			strong {
				font-weight: $regular;
			}
		}
	}

	&__text {
		padding: 3rem 3rem 5rem;
		width: calc(50% - 3rem);

		h3 {
			font-weight: $regular;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			margin: auto auto 1rem;
			max-width: 400px;
			width: 100%;
		}

		ul {
			margin: 0 auto auto;
			max-width: 400px;
			padding: 0 0 0 1rem;
			list-style: none;
			position: relative;
			width: 100%;

			&:before {
				background: $primary-color;
				content: '';
				height: 2rem;
				width: 6px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
