.enviroment {
	position: relative;
	top: -2rem;

	&__header,
	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__header {
		.env-title {
			display: flex;
			font-size: 2.25rem;
			font-weight: $light;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			width: calc(50% - 3rem);

			span {
				display: block;
				margin: auto;

				strong {
					font-weight: $regular;
				}
			}
		}

		.env-hero {
			width: calc(50% + 3rem);

			img {
				display: block;
				height: 100%;
				object-fit: cover;
				opacity: 0.8;
				width: 100%;
			}
		}
	}

	&__content {
		position: relative;
		top: -2rem;

		.env-img {
			width: calc(50% + 3rem);

			img {
				display: block;
				height: 100%;
				object-fit: cover;
				opacity: 0.8;
				width: 100%;
			}
		}

		.env-text {
			display: flex;
			flex-direction: column;
			width: calc(50% - 3rem);

			@include tablet {
				width: 100%;
			}

			h3 {
				font-weight: $regular;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				margin: auto auto 1rem;
				max-width: 400px;
				width: 100%;
			}

			ul {
				margin: 0 auto auto;
				max-width: 400px;
				padding: 0 0 0 1rem;
				list-style: none;
				position: relative;
				width: 100%;

				&:before {
					background: $primary-color;
					content: '';
					height: 2rem;
					width: 6px;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	&__title,
	&__text {
		display: flex;
		flex-direction: column;
		width: 50%;

		@include tablet {
			width: 100%;
		}
	}

	&__title {
		background: rgba(#000, 0.5);
		font-size: 2.25rem;
		font-weight: $light;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		order: 2;

		@include tablet {
			font-size: 2rem;
			order: 1;
		}

		span {
			margin: auto;
			max-width: 400px;
			width: 100%;

			strong {
				font-weight: $regular;
			}
		}
	}

	&__text {
		background: rgba(#fff, 0.5);
		order: 1;

		@include tablet {
			order: 2;
		}
	}
}
