.enviroment {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-height: 300px;

	&__text {
		display: flex;
		flex-direction: column;
		padding: 5rem 3rem 3rem;
		width: calc(50% - 3rem);

		@include tablet {
			background: rgba($black, 0.5);
			padding: 2rem;
			width: 100%;
			position: relative;
			z-index: 2;
		}

		.inner-text {
			margin: auto;
			padding: 0 0 0 1rem;
			position: relative;

			@include tablet {
				color: $white;
			}

			h3 {
				margin: 0 0 1rem;
				font-weight: $regular;
				font-size: 1.5rem;
				letter-spacing: 0.1rem;
				line-height: 1;
				text-transform: uppercase;
			}

			p {
				margin: 0 auto 1rem;
				max-width: 400px;
				padding: 0 0 0 1rem;

				&.start {
					position: relative;

					&:before {
						background: $primary-color;
						content: '';
						height: 2rem;
						width: 6px;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
		}
	}

	&__image {
		background-repeat: no-repeat;
		background-size: cover;
		width: calc(50% + 3rem);

		@include tablet {
			height: 100%;
			mix-blend-mode: multiply;
			width: 100%;
			position: absolute;
			z-index: 1;
		}
	}
}
