.enviroment {
	position: relative;
	top: -2rem;

	@include tablet {
		top: 0;
	}

	&__header,
	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__header {
		position: relative;

		.env-title {
			display: flex;
			font-size: 2.25rem;
			font-weight: $light;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			width: calc(50% - 3rem);

			@include tablet {
				color: $light-grey !important;
				font-size: 2rem;
				position: relative;
				width: 100%;
				z-index: 2;
			}

			span {
				display: block;
				margin: auto;

				strong {
					font-weight: $regular;
				}
			}
		}

		.env-hero {
			width: calc(50% + 3rem);

			@include tablet {
				position: absolute;
				height: 100%;
				z-index: 1;
				width: 100%;
			}

			img {
				display: block;
				height: 100%;
				object-fit: cover;
				opacity: 0.8;
				width: 100%;
			}
		}
	}

	&__content {
		position: relative;
		top: -2rem;

		@include tablet {
			top: 0;
		}

		.env-img {
			width: calc(50% + 3rem);

			@include tablet {
				width: 100%;
				position: absolute;
				z-index: 1;
			}

			img {
				display: block;
				height: 100%;
				object-fit: cover;
				opacity: 0.8;
				width: 100%;

				@include tablet {
					opacity: 0.5;
				}
			}
		}

		.env-text {
			display: flex;
			flex-direction: column;
			width: calc(50% - 3rem);

			@include tablet {
				padding: 2rem 0;
				width: 100%;
				position: relative;
				z-index: 2;
			}

			h3 {
				font-weight: $regular;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				margin: auto auto 1rem;
				max-width: 400px;
				width: 100%;

				@include tablet {
					color: $light-grey;
				}
			}

			ul {
				margin: 0 auto auto;
				max-width: 400px;
				padding: 0 0 0 1rem;
				list-style: none;
				position: relative;
				width: 100%;

				@include tablet {
					color: $light-grey;
				}

				&:before {
					background: $primary-color;
					content: '';
					height: 2rem;
					width: 6px;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
