.services {
	display: flex;
	flex-direction: column;
	position: relative;

	&__title {
		margin: 3rem auto 2rem;
		text-align: center;
	}

	&__lead {
		margin: 0 auto 2rem;
		max-width: 800px;
		text-align: center;
	}

	&__list {
		align-items: start;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		margin: 0 auto 5rem;
		max-width: 900px;

		@include tablet {
			grid-template-columns: 1fr;
			max-width: 500px;
		}

		.service-card {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.grey {
				border: 1px solid $light-grey;
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					border: 1px solid $primary-color;
				}
			}

			&__name,
			&__tagname {
				font-size: 1.25rem;
				font-weight: $light;
				letter-spacing: 0.1rem;
				text-align: center;
				text-transform: uppercase;
			}

			&__tagname {
				font-weight: $regular;
			}

			&__text {
				bottom: 0;
				display: flex;
				left: 0;
				margin: auto;
				pointer-events: none;
				position: absolute;
				right: 0;
				top: 0;
				transition: all 0.5s;

				.inner-card {
					box-shadow: $box-shadow;
					display: flex;
					height: 80%;
					margin: auto;
					max-width: 450px;
					opacity: 0;
					padding: 3rem 2rem 2rem;
					position: relative;
					transition: all 0.5s;
					transform: translateY(20px);
					width: 90%;

					.close-card {
						cursor: pointer;
						font-size: 2.5rem;
						font-weight: $light;
						padding: 0 1rem;
						position: absolute;
						right: 0;
						top: 0;

						&:hover {
							opacity: 0.5;
						}
					}

					.card-content {
						margin: auto;
						text-align: center;
					}

					.wave {
						bottom: 0px;
						height: 55px;
						left: 0;
						overflow: hidden;
						position: absolute;
						width: 100%;

						img {
							height: 100%;
							object-fit: contain;
							object-position: center 15px;
							width: 100%;
						}
					}
				}

				&.active {
					background: rgba(#fff, 0.8);
					opacity: 1;
					pointer-events: all;
					z-index: 9;

					.inner-card {
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}
	}
}
