.services {
	&__title {
		letter-spacing: 0.1rem;
		text-align: center;
		text-transform: uppercase;
	}

	&__lead {
		margin: 0 auto 2rem;
		max-width: 800px;
		text-align: center;
	}

	&__list {
		align-items: start;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		margin: 0 auto;
		max-width: 900px;

		@include tablet {
			grid-template-columns: 1fr;
			max-width: 500px;
		}

		.service-card {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&__name,
			&__tagname {
				font-size: 1.25rem;
				font-weight: $light;
				letter-spacing: 0.1rem;
				text-align: center;
				text-transform: uppercase;
			}

			&__tagname {
				font-weight: $regular;
			}

			&__text {
				text-align: center;
			}
		}
	}
}
