.work {
	&__title {
		background-repeat: no-repeat;
		background-size: 300px;
		text-align: center;
		background-position: center top;
	}

	&__lead {
		margin: 0 auto 2rem;
		max-width: 800px;
		text-align: center;
	}
}
