@import './includes/*.scss';

body {
	color: $dark-grey;
	font-family: $main-font;
	font-weight: $regular;
	line-height: 1.2;
	scroll-behavior: smooth;

	main {
		overflow-x: hidden;
		position: relative;

		.section-title {
			font-size: 2.25rem;
			font-weight: $regular;
			letter-spacing: 0.1rem;
			text-transform: uppercase;

			@include tablet {
				font-size: 2rem;
			}
		}
	}
}

@import './components/*.scss';
